{% extends 'base.html' %}

{% block content %}
    <title>Записи сообщества {{ group.title }} | Yatube</title>

  </head>
  <body class="container">
  <div class="mt-4 text-center">  
    <h1>{{ group.title }}</h1>
      <p>
        {{ group.description }}
      </p>
        {% for post in posts %}
      <h3>
        Автор: {{ post.author.get_full_name }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
      </h3>
      <p>{{ post.text|linebreaksbr }}</p>
      <hr>
      {% endfor %}
  </div>

  </body>
</html>

{% endblock %}